body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    margin: 0;
    padding: 20px;
}

header {
    background-color: #4682b4;
    color: white;
    padding: 10px;
    text-align: center;
}

footer {
    background-color: #4682b4;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
